.login-custom {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login-custom .custom-div {
  background-image: url(./login.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 728px;
  position: relative;
  width: 375px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 4%,
      rgba(123, 218, 254, 0.4) 87%
    ),
    linear-gradient(0deg, rgba(5, 10, 21, 0.4) 0%, rgba(5, 10, 21, 0.4) 100%),
    url(./login.png) lightgray 50% / cover no-repeat;
  background-blend-mode: normal, darken, normal;
}

.login-custom .custom-group {
  height: 34px;
  left: 0;
  position: absolute;
  top: 778px;
  width: 375px;
}

.login-custom .custom-group-2 {
  background-color: #ffffff;
  border-radius: 100px;
  height: 5px;
  left: 121px;
  position: relative;
  top: 21px;
  width: 134px;
}

.login-custom .custom-frame {
  align-items: center;
  background-color: #0d1f26;
  border-radius: 32px;
  display: inline-flex;
  gap: 2px;
  justify-content: center;
  left: 130px;
  padding: 8px 24px;
  position: absolute;
  top: 436px;
}

.login-custom .custom-svg {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.login-custom .custom-text-wrapper {
  color: #ffffff;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.login-custom .custom-frame-2 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  left: 90px;
  position: absolute;
  top: 600px;
}

.login-custom .custom-p {
  color: #ffffff;
  font-family: var(--mobile-mobile-bodys-m-body-SM-font-family);
  font-size: var(--mobile-mobile-bodys-m-body-SM-font-size);
  font-style: var(--mobile-mobile-bodys-m-body-SM-font-style);
  font-weight: var(--mobile-mobile-bodys-m-body-SM-font-weight);
  letter-spacing: var(--mobile-mobile-bodys-m-body-SM-letter-spacing);
  line-height: var(--mobile-mobile-bodys-m-body-SM-line-height);
  margin-top: -1px;
  opacity: 0.7;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.login-custom .custom-frame-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  justify-content: center;
  position: relative;
}

.login-custom .custom-frame-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.login-custom .custom-frame-4 {
  flex: 0 0 auto;
  position: relative;
}

.login-custom .custom-frame-5 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  left: 21px;
  position: absolute;
  top: 336px;
}

.login-custom .custom-layer {
  height: 40px !important;
  position: relative !important;
  width: 206.47px !important;
}

.login-custom .custom-text-wrapper-2 {
  color: #f3f3f3;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.6;
  position: relative;
  text-align: center;
  width: 334px;
}

.login-custom .custom-status-bar-instance {
  left: 0 !important;
  position: fixed !important;
  top: 0 !important;
}

.login-custom .custom-design-component-instance-node {
  background-image: url(./outline.svg) !important;
}
