/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --gradation-shadow: 0px 5px 10px 0px rgba(26, 26, 26, 0.1);
  --grey-01: rgba(9, 36, 75, 1);
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --gradation-shadow: 0px 5px 10px 0px rgba(26, 26, 26, 0.1);
  --grey-01: rgba(9, 36, 75, 1);
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --gradation-shadow: 0px 5px 10px 0px rgba(26, 26, 26, 0.1);
  --grey-01: rgba(9, 36, 75, 1);
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --blur: ;
  --gradation-shadow: 0px 5px 10px 0px rgba(26, 26, 26, 0.1);
  --grey-01: rgba(9, 36, 75, 1);
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --gradation-shadow: 0px 5px 10px 0px rgba(26, 26, 26, 0.1);
  --grey-01: rgba(9, 36, 75, 1);
}

/* The end of the injected content. */

:root {
  --blur: ;
  --gradation-shadow: 0px 5px 10px 0px rgba(26, 26, 26, 0.1);
  --grey-01: rgba(9, 36, 75, 1);
}
