.emergency-detail {
  background-color: #f8fafb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.emergency-div-2 {
  background-color: #f8fafb;
  height: 812px;
  overflow: hidden;
  position: relative;
  width: 375px;
  left: 50px;
}

.emergency-overlap-2 {
  height: 883px;
  left: 0;
  position: absolute;
  top: 120px;
  width: 374px;
}

.emergency-group {
  height: 64px;
  left: 0;
  position: absolute;
  top: 594px;
  width: 374px;
}

.emergency-frame {
  align-items: center;
  box-shadow: 0px -5px 20px #00000005;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px 20px;
  position: relative;
}

.emergency-frame-2 {
  flex: 0 0 auto;
  position: relative;
  width: 334px;
}

.emergency-background {
  align-items: center;
  height: 812px;
  left: 0;
  top: 0;
  width: 375px;
}

.emergency-rectangle-4 {
  background-color: #000000;
  height: 812px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.6;
  position: fixed;
  top: 0;
  width: 375px;
}

.emergency-group-10 {
  height: 439px;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 375px;
}

.emergency-frame-20 {
  align-items: center;
  background-color: transparent;
  border: 1px solid;
  border-color: transparent;
  border-radius: 20px 20px 0px 0px;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  padding: 30px 0px 0px;
  position: relative;
  width: 375px;
}

.emergency-drawer-handle {
  background-color: #e7e7e7;
  border-radius: 100px;
  height: 5px;
  position: relative;
  width: 60px;
}

.emergency-frame-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.emergency-frame-21 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 375px;
}

.emergency-frame-22 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  padding: 0px 20px 0px 15px;
  position: relative;
  width: 375px;
}

.emergency-text {
  color: #0d1f26;
  font-family: "Pretendard-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.emergency-text-2 {
  color: #999999;
  font-family: "Pretendard-Light", Helvetica;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  width: 334px;
}

.emergency-frame-23 {
  align-items: flex-start;
  background-color: #f7f7f7;
  border: 1px solid;
  border-color: #f1f1f1;
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  padding: 12px 8px;
  position: relative;
  width: 334px;
}

.emergency-div-5 {
  color: #0d1f26;
  font-family: "Pretendard-Light", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  width: 310px;
}

.emergency-div-6 {
  color: #0d1f26;
  font-family: "Pretendard-Light", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  width: 310px;
}

.emergency-frame-24 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 375px;
}

.emergency-frame-25 {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #f1f1f1;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 16px 20px 16px 21px;
  position: relative;
  width: 100%;
}

.emergency-frame-26 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.emergency-frame-27 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.emergency-frame-28 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.emergency-icon-instance-node {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.emergency-text-wrapper-20 {
  color: #666666;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.emergency-frame-29 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 16px 20px 16px 21px;
  position: relative;
  width: 100%;
}

.emergency-group-11 {
  height: 64px;
  position: relative;
  width: 375px;
}

.emergency-frame-30 {
  align-items: flex-start;
  box-shadow: 0px -5px 20px #00000005;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px 20px 8px 21px;
  position: relative;
  bottom: 0px;
}

.emergency-frame-31 {
  align-items: center;
  background-color: #0d1f26;
  border-radius: 12px;
  box-shadow: var(--gradation-shadow);
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 14px 36px;
  position: relative;
  width: 265px;
}

.emergency-text-wrapper-19 {
  color: #ffffff;
  font-family: "Pretendard-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.emergency-group-12 {
  background-color: #ffffff;
  height: 34px;
  position: relative;
  width: 375px;
}

.emergency-group-13 {
  height: 34px;
}

.emergency-home-indicator-wrapper {
  background-image: url(https://c.animaapp.com/mh5TR1Fl/img/rectangle-284@2x.png);
  background-size: 100% 100%;
  height: 34px;
  left: -1930px;
  position: relative;
  top: -1557px;
  width: 375px;
}
