.box {
  height: 102px;
  width: 375px;
}

.box .group {
  height: 102px;
  left: 0;
  position: fixed;
  top: 0;
  width: 375px;
}

.box .div {
  height: 102px;
  position: relative;
}

.box .group-wrapper {
  height: 34px;
  left: 0;
  position: absolute;
  top: 68px;
  width: 375px;
}

.box .group-2 {
  background-color: #121c24;
  border-radius: 100px;
  height: 5px;
  left: 121px;
  position: relative;
  top: 21px;
  width: 134px;
}

.box .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 20px 0px 21px;
  top: 100px;
  width: 375px;
}

.box .frame-wrapper {
  -webkit-backdrop-filter: blur(12px) brightness(100%);
  align-items: flex-start;
  align-self: stretch;
  backdrop-filter: blur(12px) brightness(100%);
  background-color: #0d1f26f0;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 37px;
  box-shadow: 0px 4px 12px #00000005;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.box .div-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  padding: 12px 24px;
  position: relative;
  width: 100%;
}

.box .frame-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  height: 44px;
  justify-content: space-between;
  position: relative;
}

.box .group-3 {
  align-self: stretch;
  position: relative;
  width: 42px;
}

.box .icon-home-mono-wrapper {
  align-items: flex-start;
  background-color: #27b9f00a;
  border-radius: 22px;
  display: inline-flex;
  gap: 10px;
  height: 44px;
  padding: 8px;
  position: relative;
}

.box .img {
  height: 26px;
  position: relative;
  width: 26px;
}

.box .group-4 {
  align-self: stretch;
  opacity: 0.4;
  position: relative;
  width: 42px;
}

.box .frame-3 {
  align-items: flex-start;
  border-radius: 22px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  height: 44px;
  padding: 8px;
  position: relative;
}

.box .design-component-instance-node {
  left: unset !important;
  position: relative !important;
  top: unset !important;
}

.box .group-5 {
  align-self: stretch;
  opacity: 0.4;
  position: relative;
  width: 44px;
}

.box .icon-user-mono-wrapper {
  align-items: flex-start;
  border-radius: 22px;
  display: inline-flex;
  gap: 10px;
  height: 44px;
  padding: 8px;
  position: relative;
}
