.App {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.App .div-2 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 54%,
    rgba(123, 218, 254, 0.4) 87%
  );
  background-color: rgba(255, 255, 255, 1);
  background-image: url(https://c.animaapp.com/KiNPP5D4/img/login@3x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 812px;
  position: relative;
  width: 375px;
}

.App .group {
  height: 34px;
  left: 0;
  position: absolute;
  top: 778px;
  width: 375px;
}

.App .group-2 {
  background-color: #ffffff;
  border-radius: 100px;
  height: 5px;
  left: 121px;
  position: relative;
  top: 21px;
  width: 134px;
}

.App .frame {
  align-items: center;
  background-color: #0d1f26;
  border-radius: 32px;
  display: inline-flex;
  gap: 2px;
  justify-content: center;
  left: 130px;
  padding: 8px 24px;
  position: absolute;
  top: 436px;
}

.App .svg {
  height: 20px;
  position: relative;
  width: 20px;
}

.App .text-wrapper {
  color: #ffffff;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.App .frame-2 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  left: 90px;
  position: absolute;
  top: 662px;
}

.App .p {
  color: #ffffff;
  font-family: var(--mobile-mobile-bodys-m-body-SM-font-family);
  font-size: var(--mobile-mobile-bodys-m-body-SM-font-size);
  font-style: var(--mobile-mobile-bodys-m-body-SM-font-style);
  font-weight: var(--mobile-mobile-bodys-m-body-SM-font-weight);
  letter-spacing: var(--mobile-mobile-bodys-m-body-SM-letter-spacing);
  line-height: var(--mobile-mobile-bodys-m-body-SM-line-height);
  margin-top: -1px;
  opacity: 0.7;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.App .frame-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  justify-content: center;
  position: relative;
}

.App .frame-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.App .img {
  flex: 0 0 auto;
  position: relative;
}

.App .frame-4 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  left: 21px;
  position: absolute;
  top: 336px;
}

.App .layer {
  height: 40px;
  position: relative;
  width: 206.47px;
}

.App .text-wrapper-2 {
  color: #f3f3f3;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.6;
  position: relative;
  text-align: center;
  width: 334px;
}

.App .status-bar-instance {
  left: 0 !important;
  position: fixed !important;
  top: 0 !important;
}
